<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>PAGE POTIN</h1>
    <p>Voici la page du potin n° <%= params['id'] %> </p>
    <p>Son auteur : <%= gossip[0] %>  </p>
    <p>Le contenu du potin :<%= gossip[1] %> </p>
    <a href="/">Retour à la page d'accueil</a>
  </body>
</html>