<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>Mon super site de gossip, du dossier views !</h1>
    <p>Bienvenue. Les potins arrivent asap... En attendant, tu peux <a href="/gossips/new">creer des potins.</a> </p> 
    <% gossips.each_with_index do |gossip, index| %>
      <p>
        <%= gossip.author %><br/>
        <%= gossip.content %>
        <a href="/gossips/<%= index %>"><button> Voir le gossip</button></a>
      </p>
    <% end %>

    
  </body>
</html>
